[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.32.x
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/p-ranav/argparse
